:root{
    --primary: #f20044;
    --bg: rgb(5, 0, 25);
    /* bg>>> #0b1522*/
    /*heart>>> #f20044, #00FFFF, #FF0000, #00FF00*/
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg);
}

.heart{
    height: 70px;
    width: 70px;
    background: var(--primary);
    position: relative;
    transform: rotate(-45deg);
    box-shadow: -10px 10px 100px var(--primary);
    animation: heart 0.6s linear infinite;
}

@keyframes heart{
    0%{
        transform: rotate(-45deg) scale(1.1);
    }
    80%{
        transform: rotate(-45deg) scale(1.1);
    }
    100%{
        transform: rotate(-45deg) scale(1);
    }
}

.heart:before{
    content: '';
    position: absolute;
    height: 70px;
    width: 70px;
    background: var(--primary);
    top: -50%;
    border-radius: 50px;
}

.heart:after{
    content: '';
    position: absolute;
    height: 70px;
    width: 70px;
    background: var(--primary);
    right: -50%;
    border-radius: 50px;
}